.AboutUs {
  max-width: 800px;
  margin: 2em auto;
  padding: 2em;
}

.AboutUs h1 {
  text-align: center;
  color: #333;
  margin-bottom: 2em;
}

.about-content {
  text-align: center;
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.5em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.AboutUs h2 {
  color: #2c3e50;
  margin-bottom: 1em;
}

.bio {
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
  margin-bottom: 1.5em;
}

.education {
  font-size: 1em;
  color: #666;
  margin-bottom: 1.5em;
}

.interests {
  text-align: left;
  display: inline-block;
  margin-top: 1em;
}

.interests ul {
  list-style-type: disc;
  padding-left: 2em;
}

.interests li {
  margin: 0.5em 0;
  color: #555;
}

.error {
  color: red;
  text-align: center;
}